In [78]:
import pandas as pd

In [79]:
df = pd.read_csv('data/StudentsPerformance.csv') #df = Data Frame einlesen der Quelldatei

#renamen deer Header
df = df.rename(columns = {'race/ethnicity': 'group', 'parental level of education': 'parental education', 
                          'test preparation course': 'preparation', 'math score': 'math','reading score': 'reading',
                          'writing score': 'writing'})

#entfernen von 'group' der group-Spalte
df['group'] = df['group'].str.split(" ",1).str[1]

#bereinigen der Spalte 'parental education'
df.loc[df['parental education']=='bachelor\'s degree', 'parental education'] = 'bachelor' # df.loc[selection criteria, columns I want] = value
df.loc[df['parental education']=='master\'s degree', 'parental education'] = 'master'
df.loc[df['parental education']=='some college', 'parental education'] = 'college'
df.loc[df['parental education']=='some high school', 'parental education'] = 'school'
df.loc[df['parental education']=='high school', 'parental education'] = 'school'
df.loc[df['parental education']=='associate\'s degree', 'parental education'] = 'associate'


#bearbeiten der 'lunch' Spalte durch ersetzen von 'free/reduced' -> 'nonstandard'
df.loc[df['lunch']=='free/reduced', 'lunch'] = 'nonstandard' 

#print Tabellen Kopf
df.head()

,gender,group,parental education,lunch,preparation,math,reading,writing
0,female,B,bachelor,standard,none,72,72,74
1,female,C,college,standard,completed,69,90,88
2,female,B,master,standard,none,90,95,93
3,male,A,associate,nonstandard,none,47,57,44
4,male,C,college,standard,none,76,78,75

In [80]:
#schreibe verarbeitete 'processed_data.csv'
df.to_csv('data/processed_data.csv', sep=',', index=False)